<div class="status-box">
    <div class="status-headline">{{beautifiedTopicName}}</div>
    <div class="status-truename">{{topicName}}</div>
    <div class="status-value" *ngIf="topicType === 'Information'">{{topicValue}}</div>
    <div class="status-box" *ngIf="topicType === 'Parameter'">
        <mat-form-field>
            <mat-label>Value</mat-label>
            <input matInput #topicValueInput value="{{topicValue}}">
        </mat-form-field>

        <button *ngIf="topicType === 'Parameter'" (click)="onTopicValueChange(topicValueInput.value)">Update
        </button>
    </div>
    <div *ngIf="isSwitch()">
        <mat-slide-toggle (change)="onChange($event)" [checked]="isSwitchOn()">
        </mat-slide-toggle>
        <span class="status-value">{{topicValue}}</span>
    </div>
    <div class="spinner-box" *ngIf="isUpdatingTopic">
        <mat-spinner diameter="40" strokeWidth="10"></mat-spinner>
    </div>
</div>