<div *ngIf="rule !== null" class="rule-form">
    <div class="header">
        <button *ngFor="let button of navButtons" (click)="onClick(button.text)" [disabled]="hasErrors">
            <img src="{{'assets/' + button.img}}" class="button-image">
            {{button.text}}
        </button>
    </div>
    <div>
        <mat-form-field class="rule-small-input">
            <mat-label>rule path</mat-label>
            <input matInput [(ngModel)]="_rule['prefix']">
        </mat-form-field>
        <mat-form-field class="rule-small-input">
            <mat-label>rule name</mat-label>
            <input matInput [(ngModel)]="_rule['name']">
        </mat-form-field>
    </div>
    <div>
        <section>
            <mat-checkbox [(ngModel)]="_rule['active']">Enabled</mat-checkbox>
        </section>
        <section>
            <mat-checkbox [(ngModel)]="_rule['doLog']">Logging</mat-checkbox>
        </section>
        <section>
            <mat-checkbox [(ngModel)]="_rule['isValid']" [disabled]="true">Is Valid</mat-checkbox>
        </section>
    </div>
    <div>
        <mat-form-field class="rule-large-input">
            <mat-label>Time</mat-label>
            <textarea matInput rows="{{getRows('time')}}" [(ngModel)]="_rule['time']"></textarea>
            <div *ngIf="isInvalidField('time')" class="alert">{{getErrorMessage('time')}}</div>
        </mat-form-field>
        <mat-form-field appearance="fill" class="rule-small-input">
            <mat-label>Day of Week</mat-label>
            <mat-select [(value)]="_rule['weekDays']" multiple>
                <mat-option *ngFor="let day of weekDays" value="{{day}}">{{day}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="rule-small-input">
            <mat-label>Duration</mat-label>
            <input matInput [(ngModel)]="_rule['duration']">
        </mat-form-field>
        <mat-form-field class="rule-small-input">
            <mat-label>Cooldown (s)</mat-label>
            <input matInput [(ngModel)]="_rule['cooldownInSeconds']">
        </mat-form-field>
        <mat-form-field class="rule-small-input">
            <mat-label>Delay (s)</mat-label>
            <input matInput [(ngModel)]="_rule['delayInSeconds']">
        </mat-form-field>
        <mat-form-field class="rule-small-input">
            <mat-label>Duration w.o. mov. in min.</mat-label>
            <input matInput [(ngModel)]="_rule['durationWithoutMovementInMinutes']">
            <mat-error>"hello world"</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="rule-small-input">
            <mat-label>Quality of Sevice</mat-label>
            <mat-select [(value)]="_rule['qos']">
                <mat-option *ngFor="let qos of qosValues" value="{{qos}}">{{qos}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field *ngFor="let field of showFields" class="rule-textarea">
        <mat-label>{{field.label}}</mat-label>
        <textarea matInput rows="{{getRows(field.name)}}" [(ngModel)]="_rule[field.name]"
            (ngModelChange)="onChange(field.name)"></textarea>
        <div *ngIf="isInvalidField(field.name)" class="alert">{{getErrorMessage(field.name)}}</div>
    </mat-form-field>

</div>