<div *ngIf="rule !== null" class="rule-form">
    <mat-form-field class="rule-name">
        <mat-label>rule name</mat-label>
        <input matInput [value]="getStringProperty('name')" [readonly]="true">
    </mat-form-field>
    <section>
        <mat-checkbox [checked]="getStringProperty('active')">Enabled</mat-checkbox>
    </section>
    <section>
        <mat-checkbox [checked]="getStringProperty('doLog')" >Logging</mat-checkbox>
    </section>
    <mat-form-field class="rule-name">
        <mat-label>Time</mat-label>
        <input matInput [value]="getStringProperty('time')">
    </mat-form-field>
    <mat-form-field class="rule-name">
        <mat-label>Duration</mat-label>
        <input matInput [value]="getStringProperty('duration')">
    </mat-form-field>
    <mat-form-field class="rule-name">
        <mat-label>Cooldown (s)</mat-label>
        <input matInput [value]="getStringProperty('cooldownInSeconds')">
    </mat-form-field>
    <mat-form-field class="rule-name">
        <mat-label>Delay (s)</mat-label>
        <input matInput [value]="getStringProperty('delayInSeconds')">
    </mat-form-field>
    <mat-form-field appearance="fill" class="rule-name">
        <mat-label>Quality of Sevice</mat-label>
        <mat-select [(value)]="rule.qos" >
            <mat-option *ngFor="let qos of qosValues" value="getStringProperty('qos')">{{qos}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
