.mdc-list {
    padding: 0;
}

.nav-button-text-normal {
    font-weight: 400;
    font-size: 16px;
    color: #495057;
}

.nav-button-text-active {
    font-weight: 700;
    font-size: 16px;
    color: white;    
}

.nav-button-text-new {
    font-weight: 400;
    font-size: 16px;
    color: #495057;   
}

.nav-button-normal {
    background-color: #f8f9fa;
    border: 1px solid rgba(0,0,0,.125);
}

.nav-button-active {
    background-color: #007bff;
    border-color: #007bff;
}

.nav-button-new {

    background-color:rgb(219, 235, 241);
    border-color: #007bff;
    border: 1px solid rgba(0,0,0,.125);
}

.nav-button {
    height: 40px;
    padding-left: 1em;
    text-align: left;
}



