.card-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 8px;
}

.card-box > button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 320px;
    max-width: 400px;
    min-height: 70px;
    border-radius: 10px;
    padding-left: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 6px;
    margin-right: 6px;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #f8f9fa;
    font-weight: 400;
    color: #495057;
}

.card-topic {
    font-size: 16px;
}

.card-value {
    font-size: 14px;
}