.card-box {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px, 1fr));
    padding-top: 8px;
    gap: 6px;
}

.card-box > button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    min-height: 70px;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #f8f9fa;
    font-weight: 400;
    color: #495057;
    overflow: hidden;
    white-space: nowrap;
}

.card-box > button > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.card-box > button > div > img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.card-box :hover {
    cursor: pointer;
}

.card-topic {
    font-size: 16px;
    text-overflow: ellipsis;
}

.card-value {
    font-size: 14px;
    text-overflow: ellipsis;
}

.text-info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.spinner-box {
    display: flex;
    align-items: center;
}