app-sidenav {
    min-width: 250px;
    flex-grow: 1;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

app-topics {
    flex-grow: 5;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 1;
}