.settings-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 10px;
}
.settings-box > div {
    display: flex;
    flex-direction: column;
}
.settings-box > div > mat-form-field {
    width: 200px;
}

.settings-box > div > mat-selection-list {
    width: 200px;
}

