<div class="settings-box">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Select topic type</mat-label>
            <mat-select [(value)]="settingOptions.topicType" (selectionChange)="onSelectTopic()">
                <mat-option *ngFor="let type of settingOptions.topicTypes" value="{{type}}">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Select topic rank</mat-label>
            <mat-select [(value)]="settingOptions.topicRank" (selectionChange)="onSelectRank()">
                <mat-option *ngFor="let rank of settingOptions.topicRanks" value="{{rank}}">{{rank}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Select icon</mat-label>
            <mat-select [(value)]="settingOptions.topicIcon" (selectionChange)="onSelectIcon()">
                <mat-option *ngFor="let icon of settingOptions.topicIcons" value="{{icon}}">{{icon}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="settingOptions.topicType === 'Parameter'">
        <mat-form-field topic appearance="fill">
            <mat-label>Select value type</mat-label>
            <mat-select [(value)]="settingOptions.valueType" (selectionChange)="onSelectValueType()">
                <mat-option *ngFor="let type of settingOptions.valueTypes" value="{{type}}">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-list *ngIf="settingOptions.valueType === 'Enumeration' && settings !== null" class="enum-list">
            <mat-list-item *ngFor="let entry of settings.getEnumList()">
                <button matSuffix mat-icon-button (click)="removeFromEnum(entry)">
                    <mat-icon class="mat-24">delete</mat-icon>
                </button>
                <span mat-line>{{entry}}</span>
            </mat-list-item>
        </mat-list>
        <mat-form-field appearance="fill" *ngIf="settingOptions.valueType === 'Enumeration'">
            <button *ngIf="enumValue.value" matSuffix mat-icon-button
                (click)="addToEnum(enumValue.value); enumValue.value=''">
                <mat-icon>add</mat-icon>
            </button>
            <mat-label>Add to enumeration</mat-label>
            <input matInput #enumValue>
        </mat-form-field>
    </div>
</div>