.settings-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    column-gap: 10px;
    max-width: 100%;
}
.settings-box > div {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

