.font-style {
    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" -25, "opsz" 48;
}

.nav-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
    margin: 10px;
    padding-left: 10px;
}

.nav-box > div > button {
    height: 33px;
    border-radius: 5px;
    border: none;
    font-family: "MS Shell Dlg 2";
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 123, 255)

}

.nav-box > div > span {
    margin-left : 5px;
    margin-right : 5px;
    font-weight: 700;
    color: darkgray;
    font-size: 16px;
}