<header>
    <div class="breadcrumb">
        <button mat-icon-button (click)="onClick(0)">
            <img src="assets/home_FILL0_wght400_GRAD0_opsz48.png">
        </button>
        <div *ngFor="let chunk of topicChunks; let i = index " class="breadcrumb-item">
            <span>></span>
            <button (click)="onClick(i + 1)">
                {{chunk}}
            </button>
        </div>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <img src="assets/menu_FILL0_wght400_GRAD0_opsz48.png">
    </button>
    <mat-menu #menu="matMenu">
        <button *ngFor="let item of menuList" mat-menu-item (click)="onMenu(item.link)">
            <span>{{ item.name }}</span>
        </button>
      </mat-menu>
</header>