.main-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.main-box > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1024px;
}

.history-box {
    padding-top: 20px;
}
