body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body, app-root {
    width: 100%;
    height: 100%;
}

app-root {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.container {
    width: 100%;
    min-height: 100%;
    flex-basis: 1420px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}

app-header {
    flex-shrink: 0;
    flex-basis: 100%;
}

app-overview-screen {
    flex-grow: 1;
    flex-shrink: 0;
}

app-detail-overview {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
}

app-footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    flex: 0 1 100%;
    background: rgb(202, 217, 233);
}
