* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

app-footer {
    padding: 20px;
    margin: 5px;
    width: 1024;
}

app-header {
    order: 1;
    width: 1024;
    flex-basis: auto;
}

app-overview-screen,
app-detail-overview {
    display: flex;
    justify-content: flex-start;
    order: 3;
    min-height: 500px;
    margin: 5px;
}

app-footer {
    order: 5;
    height: 100px;
    flex: 0 1 100%;
    background: rgb(119, 120, 121);
}
