.nav-button {
    height: 40px;
    padding-left: 1em;
    text-align: left;
}

.nav-button-text-normal {
    font-weight: 400;
    font-size: 16px;
    color: #495057;
}

.nav-button-text-active {
    font-weight: 700;
    font-size: 16px;
    color: #495057;
    color: white;    
}

.nav-button-normal {
    background-color: #f8f9fa;
    border: 1px solid rgba(0,0,0,.125);
}

.nav-button-active {
    background-color: #007bff;
    border-color: #007bff;
}

.disable-button {
    background-color:dimgray;
    border-radius: 20px;
    height: 30px;
    width: 30px;
}

.configuration-button {
    background-color:rgb(219, 235, 241);
    text-align: left;
    border-radius: 5px;
}